<h2>Männergruppe Freiburg</h2>



<p>Mannsein heute: Die Anforderungen an M&auml;nner haben sich in den letzten 50 Jahren rapide gewandelt. Auch die Vorstellungen vieler M&auml;nner, was ihr Mannsein ausmacht, unterscheiden sich stark von denen ihrer V&auml;ter und Gro&szlig;v&auml;ter.</p>
<p>Viele M&auml;nner sehen f&uuml;r sich nur zwei Alternativen: ein Macho oder ein Softie zu sein. Wir glauben, dass beides nicht n&ouml;tig ist. Mannsein ist vielf&auml;ltig: lustvoll, nachdenklich, mal schwach, mal kraftvoll. M&auml;nner k&ouml;nnen sensibel sein und selbstbewusst, ernst und humorvoll, z&ouml;gerlich und entschlossen.</p>
<p>Jeden Freitag treffen sich in Freiburg M&auml;nner aus der Stadt und dem Umland, um sich auszutauschen, zuzuh&ouml;ren, zu erz&auml;hlen, neue Ideen zu spinnen, ihre Leidenschaft und ihren Schmerz zu teilen.</p>
<p>Wir beginnen den Abend mit k&ouml;rperlicher Aktion (Fu&szlig;ball, Tanz, Kampf, je nach Lust und Laune) - der Stress der Woche wird abgesch&uuml;ttelt. Dann folgt eine stille Meditation - wir kommen zu unserem Kern zur&uuml;ck, sp&uuml;ren uns klarer als zuvor. Nach dieser Vorbereitung sind wir offen f&uuml;r den Erfahrungsaustausch &uuml;ber die Themen, die einzelne Teilnehmer mitbringen.</p>
<p>Die &auml;lteste M&auml;nnergruppe Freiburgs besteht seit &uuml;ber 23 Jahren. Die Zusammensetzung hat sich immer wieder ge&auml;ndert, und auch die Treffpunkte haben gewechselt. Was immer stabil bleibt, ist der w&ouml;chentliche Termin: freitags von 20.00 bis 23.00 Uhr, der ideale Zeitpunkt, f&uuml;r einen gemeinsamen Wochenr&uuml;ckblick.</p>
<p>Zurzeit finden unsere Treffen im Vauban statt. Vor dem ersten Besuch bitte <a href="kontakt.html" target="_top">anrufen</a>. <a href="kontakt.html" target="_top">Hier</a> erf&auml;hrst du alles Weitere.</p>
<p>&nbsp;</p>
</div>


<!--
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="www.google.de">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="www.google.de">The Author</a>
  </li>
</ul>

-->

